h1{
    color: #ffa511; font-family: league spartan; text-align: center; font-size: 55px; font-weight: 900; letter-spacing: 2px; line-height: 1.5x; text-decoration: teal double underline; margin-top: 15%; ; 
}